{% if title %}
    <h1 class="sp-page-title">{{ title }}</h1>
{% endif %}
{% if children is not empty %}
    <div class="sp-page-content">
        {% for child in children %}
            {{ child.content }}
        {% endfor %}
    </div>
{% endif %}
