.sf-page-wrap {
    width: 98%;
}

.sf-page-title {
    border-bottom: 2px solid grey;
    padding-bottom: 1%;
    margin: 3% 0;
}

.sf-form-field {
    margin: 1% 0;
}

.sf-form-field label {
    width: 40%;
    display: inline-block;
}

.sf-form-field input {
    width: 50%;
    float: right;
    clear: both;
}

#sf-create-calculator-form-submit {
    float: right;
    clear: both;
}

.sf-error-message,
.sf-success-message {
    margin: 3% 0;
    padding: 2%;
    border: 2px solid red;
    background-color: #FEC9C9;
    color: red;
}

.sf-error-message{
    border: 2px solid red;
    background-color: #FEC9C9;
    color: red;
}

.sf-success-message {
    border: 2px solid green;
    background-color: palegreen;
    color: darkgreen;
}
