<div class="sp-checkbox-group-wrap">
    {% if label %}
        <label class="sp-checkbox-group-label">
            {{ label }}
        </label>
    {% endif %}
    {% for option in options %}
        <label class="sp-checkbox-label">
            {{ option.label }}
            <input class="sp-checkbox" type="checkbox" value="{{ option.value }}">
        </label>
    {% endfor %}
</div>
