<div class="sp-text-input-wrap">
    {% if label %}
        <label class="sp-text-input-label"> {{ label }} </label>
    {% endif %}
    <input class="sp-text-input" type="text" name=" {{ name }}"/>
</div>
